// TODO:
// bind "b" { BreakPane; SwitchToMode "Locked"; }
// bind "]" { BreakPaneRight; SwitchToMode "Locked"; }
// bind "[" { BreakPaneLeft; SwitchToMode "Locked"; }
// bind "s" { ToggleActiveSyncTab; SwitchToMode "Locked"; }
// bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Locked"; }

keybinds clear-defaults=true {
    shared_except "locked" {
        bind "Esc" { SwitchToMode "locked"; }
    }
    shared_except "tmux" {
        bind "Ctrl a" { SwitchToMode "Tmux"; }
    }
    scroll {
        bind "Esc" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
    }
    search {
        bind "Esc" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Locked"; }
        bind "Enter" { SwitchToMode "Locked"; }
    }
    tmux {
        bind "Ctrl a" { Write 1; SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
        bind "d" { Detach; }

        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }

        //////////////////////
        // Panes
        bind "\"" { NewPane "Down"; SwitchToMode "Locked"; }
        bind "%" { NewPane "Right"; SwitchToMode "Locked"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
        bind "x" { CloseFocus; SwitchToMode "Locked"; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "Locked"; }

        bind "h" { MoveFocus "Left"; }
        bind "l" { MoveFocus "Right"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }

        bind "H" { Resize "Increase Left" ; }
        bind "J" { Resize "Increase Down" ; }
        bind "K" { Resize "Increase Up"   ; }
        bind "L" { Resize "Increase Right"; }

        bind "Ctrl h" "Left" { MovePane "Left"; }
        bind "Ctrl j" "Down" { MovePane "Down"; }
        bind "Ctrl k" "Up" { MovePane "Up"; }
        bind "Ctrl l" "Right" { MovePane "Right"; }

        //////////////////////
        // Tabs
        bind "Alt h" { GoToPreviousTab; }
        bind "Alt l" { GoToNextTab    ; }
        bind "p"     { GoToPreviousTab; SwitchToMode "Locked"; }
        bind "n"     { GoToNextTab    ; SwitchToMode "Locked"; }
        bind "c"     { NewTab; SwitchToMode "Locked"; }
        bind ","     { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "&"     { CloseTab  ; SwitchToMode "Locked"; }

        bind "1" { GoToTab 1; SwitchToMode "Locked"; }
        bind "2" { GoToTab 2; SwitchToMode "Locked"; }
        bind "3" { GoToTab 3; SwitchToMode "Locked"; }
        bind "4" { GoToTab 4; SwitchToMode "Locked"; }
        bind "5" { GoToTab 5; SwitchToMode "Locked"; }
        bind "6" { GoToTab 6; SwitchToMode "Locked"; }
        bind "7" { GoToTab 7; SwitchToMode "Locked"; }
        bind "8" { GoToTab 8; SwitchToMode "Locked"; }
        bind "9" { GoToTab 9; SwitchToMode "Locked"; }

        //////////////////////
        // Session
        bind "w" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Locked"
        }

        //////////////////////
        // Modes
        bind "[" { SwitchToMode "Scroll"; }

        //////////////////////
        // Other
        bind "?" {
          LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij_forgot.wasm" {
            "LOAD_ZELLIJ_BINDINGS" "true"
            floating true
          };
          SwitchToMode "Locked";
        }
        bind "Ctrl f" {
          LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij-jump-list.wasm" {
            floating true; move_to_focused_tab true;
          };
          SwitchToMode "Locked";
        }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

on_force_close "detach"
default_mode "locked"
simplified_ui false
mirror_session false // Each window gets its own cursor

/////////////////////////
// Panes

pane_frames false

/////////////////////////
// Copy

copy_clipboard "system"
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx
copy_on_select false
mouse_mode true

/////////////////////////
// Layouts

auto_layout true
layout_dir "/home/sn/.config/zellij/layouts/"
default_layout "default"

/////////////////////////
// Session and Scroll

session_serialization true
serialize_pane_viewport true
scrollback_lines_to_serialize 5000
scroll_buffer_size 10000

/////////////////////////
// Theme

themes {
    sn {
        fg       "#EFEFEF"
        bg       "#0D1117"
        red      "#F44336"
        green    "#27AE60"
        yellow   "#FBC02D"
        blue     "#2880FE"
        magenta  "#9C27B0"
        orange   "#FA951A"
        cyan     "#00C8D4"
        black    "#0D1117"
        white    "#EFEFEF"
    }
}

theme "sn"
theme_dir "/home/sn/.config/zellij/themes/"
