[user]
	name = sebostien
	email = sebostien@proton.me
[ui "color"]
	ui = always
[color]
	ui = true
[commit]
	template = ~/.gitmessage
[core]
	editor = nvim
	autocrlf = input
[alias]
	c = commit
	s = status
	lg = log --oneline
	last = log -1 HEAD
	sl = stash list
[help]
	autocorrect = 1
[credential]
	helper = cache --timeout=3600
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = master
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = nvimdiff
[merge "nvimdiff"]
	path = nvim
