$borderR: 32px;
$bg0: #0d1117;
$bg1: #242831;

$green: #27ae60;
$yellow: #FBC02D;
$orange: #Fa951a;


* {
  all: unset;
  font-family: "MesloLGM Nerd Font", "MesloLGS Nerd Font", "Source Code Pro", Roboto;
}

.field {
  background-color: $bg0;
  padding: 0 10px 0 10px;
  border-radius: $borderR;
}

.stat-container {
  padding: 0 16px 0 16px;
  margin: 6px 6px 6px 6px;

  .label {
    font-size: 24px;
    color: $green;
    padding-right: 8px;
  }

  .value {
    font-size: 14px;
  }
}

.normal {
  font-size: 14px;
}

.large {
  font-size: 24px;
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.yellow {
  color: $yellow;
}

.pl {
  padding-left: 12px;
}

.pr {
  padding-right: 12px;
}

.music-showcase {
  background-color: $bg0;
  padding: 10px;
  border-radius: 12px; // Should match ~/.config/picom/picom.conf border radius

  .music-cover {
    border-radius: 12px;
    background-size: 128px;
    min-width: 128px;
    min-height: 128px;
  }

  .music-album {
    color: $orange;
  }

  .music-artist {
    color: $green;
  }

  trough {
    margin: 0 8px;
    background-color: $bg1;
    border-radius: 12px;
    min-height: 16px;
    min-width: 256px;

    progress {
      min-height: 16px;
      background-color: $green;
      border-radius: 12px;
    }
  }
}