$borderR: 32px;
$bg0: #0d1117;
$bg1: #242831;

$green: #27ae60;
$yellow: #FBC02D;
$orange: #Fa951a;


* {
  all: unset;
  font-family: "MesloLGSDZ Nerd Font", "Source Code Pro", Roboto;
}

.field {
  background-color: $bg0;
  padding: 24px 8px;
  border-radius: $borderR;
}

// Desktop

.stat-container-dt {
  padding: 6px 16px 6px 14px;
  margin: 10px 6px 6px 6px;

  .label {
    font-size: 20px;
    color: $green;
    padding-right: 6px;
  }
}

.multi-stat-container-dt {
  padding: 0 16px 0px 16px;
  margin: 10px 6px 6px 6px;

  .label {
    font-size: 20px;
    color: $green;
    padding-right: 10px;
  }
}

// Laptop

.stat-container-lt {
  padding: 4px 16px 4px 14px;
  margin: 10px 6px 6px 6px;

  .label {
    font-size: 20px;
    color: $green;
    padding-right: 12px;
    padding-top: 4px;
  }
}

.multi-stat-container-lt {
  padding: 0 16px 0px 16px;
  margin: 10px 6px 6px 6px;

  .label {
    font-size: 20px;
    color: $green;
    padding-right: 10px;
  }
}

// Other

.smaller {
  font-size: 14px;
}

.normal {
  font-size: 16px;
}

.large {
  font-size: 24px;
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.yellow {
  color: $yellow;
}

.pl {
  padding-left: 12px;
}

.pr {
  padding-right: 12px;
}

.music-showcase {
  background-color: $bg0;
  padding: 10px;
  border-radius: 12px; // Should match radius in ~/.config/picom/picom.conf

  .music-cover {
    background-size: 128px;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 164px;
    min-height: 164px;
  }

  .music-info {
    padding-left: 10px;
    min-width: 200px;
  }

  .music-album {
    color: $orange;
  }

  .music-artist {
    color: $green;
  }
}

progress {
  min-height: 8px;
  background-color: $green;
  border-radius: 12px;
  
}

trough {
  margin-top: 10px;
  padding: 0 4px;
  background-color: $bg1;
  border-radius: 12px;
  min-height: 16px;
}