layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="fat_skip_list" split_direction="vertical" cwd="~/Documents/GitHub/capq-rust-thesis/crates/fat-skip-list" focus=true {
        pane
        pane size="30%"
    }
    tab name="GC" split_direction="vertical" cwd="~/Documents/GitHub/capq-rust-thesis/crates/gc/" {
        pane
        pane size="30%"
    }
    tab name="Git" split_direction="vertical" cwd="~/Documents/GitHub/capq-rust-thesis/" {
        pane
        pane
    }
}
